[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
black = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
fo = {editable = true,path = "."}
rope = "*"
twine = "*"

[packages]
click = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
format = "black fo test.py"
lint = "flake8 fo test.py"
test = "pytest test.py"
typecheck = "mypy fo test.py"
build = "python setup.py sdist bdist_wheel"
publish = "twine upload --disable-progress-bar --repository-url https://test.pypi.org/legacy/ dist/*"
